body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
  color: whitesmoke;
  background-color: black;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  box-sizing: border-box;
}

div {
  margin: 0;
  padding: 0;
}
